body {
    background-image: radial-gradient(#6f5964, #1c0b10);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 1% 30% 0 20%;
}


.container header {
    background-color: hsl(0deg 0% 96.86%);
    display: flex;
    align-items: center;
    height: 60px;
    width: 955px;
    margin: 2% 10% 1% 9%;
}

.container h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 20px;
    margin-left: 2rem;
}

.container h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: 2rem;
}

.main-content {
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 11%;
}

.foto img {
    width: 400px;
    height: 264px;
    margin-right: 10px;
    border: solid #c0c0c0;
}

.about {
    flex-grow: 1;
    margin-left: 10px;
}

.about h2 {
    background-image: linear-gradient(#b4b3b7, #878693, #b4b3b7);
    color: azure;
    text-align: left;
    font-family: sans-serif;
    padding: 10px;
    margin: 0;
    width: 474px;
}

.about p {
    background-image: linear-gradient(to right, #fefefe, #dbccda);
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    width: 470px;
    height: 196px;
}

.about p a {
    color: black;
}

.proyectos {
    display: flex;
    justify-content: space-between;
    margin: 0 50% 100% 10%;
}


.la-mode h3 {
    background-image: linear-gradient(#b4b3b7, #878693, #b4b3b7);
    color: azure;
    text-align: left;
    font-family: sans-serif;
    padding: 10px;
    margin: 0;
    margin-bottom: 0px;
    width: 272px;
}


.proyectos .la-mode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
}


.proyectos .la-mode img {
    width: 292px;
    height: 150px;
    margin: 0;
}

.proyectos .la-mode p {
    margin: 0;
    width: 280px;
    background-image: linear-gradient(to right, #fefefe, #dbccda);
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    height: 180px;
}

.proyectos .la-mode p img {
    width: 40px;
    height: 40px;
    margin: 10px 5px;
}

.proyectos .la-mode p a {
    margin-left: 35%;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: hsl(152.46deg 32.28% 37.06%);
    padding: 8px;
    border-radius: 10px;
    border: solid black;
    border-width: 1px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.family h3 {
    background-image: linear-gradient(#b4b3b7, #878693, #b4b3b7);
    color: azure;
    text-align: left;
    font-family: sans-serif;
    padding: 10px;
    margin: 0;
    margin-bottom: 0px;
    width: 272px;
}


.proyectos .family {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
}


.proyectos .family img {
    width: 292px;
    height: 150px;
    margin: 0;
}

.proyectos .family p {
    margin: 0;
    width: 280px;
    background-image: linear-gradient(to right, #fefefe, #dbccda);
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    height: 180px;
}

.proyectos .family p img {
    width: 40px;
    height: 40px;
    margin: 10px 5px;
}

.proyectos .family p a {
    margin-left: 25%;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: hsl(152.46deg 32.28% 37.06%);
    padding: 8px;
    border-radius: 10px;
    border: solid black;
    border-width: 1px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.fiveEleven h3 {
    background-image: linear-gradient(#b4b3b7, #878693, #b4b3b7);
    color: azure;
    text-align: left;
    font-family: sans-serif;
    padding: 10px;
    margin: 0;
    margin-bottom: 0px;
    width: 272px;
}


.proyectos .fiveEleven {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
}


.proyectos .fiveEleven img {
    width: 292px;
    height: 150px;
    margin: 0;
}

.proyectos .fiveEleven p {
    margin: 0;
    width: 280px;
    background-image: linear-gradient(to right, #fefefe, #dbccda);
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    height: 180px;
}

.proyectos .fiveEleven p img {
    width: 40px;
    height: 40px;
    margin: 10px 5px;
}

.proyectos .fiveEleven p a {
    margin-left: 30%;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: hsl(152.46deg 32.28% 37.06%);
    padding: 8px;
    border-radius: 10px;
    border: solid black;
    border-width: 1px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.footer {
    background-color: white;
    text-align: center;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}
.footer a {
    color: black;
}
.footer img {
    width: 20px;
    height: 20px;
}