@charset "ISO-8859-1";

p {
	font-size: 20px;
	font-style: oblique;
	font-family: monospace;
}

.btn-warning {
	background: linear-gradient(to bottom, #fffbc0 40%, #dbc609 60%);
	box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
	font-weight: 600;
}

h1 {
	font-size: 50px;
	font-family: monospace;
}

.custom-container h2 {
	font-size: 34px;
	font-family: monospace;
}

.contador {
	font-family: monospace; background-color : maroon;
	padding: 10px;
	background-color: maroon;
}

.text-area, #messageTextArea {
  margin: 30px 0 0 5px;
  width: inherit;
}

.activities {
	font-family: monospace;
	margin-left: 3px;
}
