<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <h1>HOLA</h1>
 		<div class="form-container">
			<form action="/dashboard" method="POST">
				<label for="name">Name:</label> <br /> <input type="text" id="name"
					name="name" required minlength="3" maxlength="50" /><br /> <label
					for="artist">Artist:</label> <br /> <input type="text" id="artist"
					name="artist" required minlength="3" maxlength="50" /><br /> <label
					for="clasificacion">Rating</label> <br /><input type="text"
					id="clasificacion" name="clasificacion" required /><br />

				<button type="submit">Add Song</button>
			</form>
		</div>
</body>
</html>